/* Handwriting fonts served by texttohandwriting.com. Licences vary per font
   (see README) — check before commercial use. */
@font-face { font-family: "handwriting-1"; src: url("./assets/fonts/handwriting-1.otf"); font-display: swap; }
@font-face { font-family: "handwriting-2"; src: url("./assets/fonts/handwriting-2.otf"); font-display: swap; }
@font-face { font-family: "handwriting-3"; src: url("./assets/fonts/handwriting-3.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-4"; src: url("./assets/fonts/handwriting-4.otf"); font-display: swap; }
@font-face { font-family: "handwriting-5"; src: url("./assets/fonts/handwriting-5.otf"); font-display: swap; }
@font-face { font-family: "handwriting-6"; src: url("./assets/fonts/handwriting-6.otf"); font-display: swap; }
@font-face { font-family: "handwriting-7"; src: url("./assets/fonts/handwriting-7.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-8"; src: url("./assets/fonts/handwriting-8.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-9"; src: url("./assets/fonts/handwriting-9.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-10"; src: url("./assets/fonts/handwriting-10.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-11"; src: url("./assets/fonts/handwriting-11.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-12"; src: url("./assets/fonts/handwriting-12.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-13"; src: url("./assets/fonts/handwriting-13.ttf"); font-display: swap; }
@font-face { font-family: "handwriting-14"; src: url("./assets/fonts/handwriting-14.ttf"); font-display: swap; }
